/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */

/**
 * Variables
 */
@wrapColorHtml: #eee;
@lightGrey: #424242;
@darkShadow: rgba(0, 0, 0, 0.75);
@arBlue: #509fda;
@arDark: #333;
@devilGrey: #666;
@lighterGrey: #aaa;
