$base-color: rgb(15, 120, 206) !default; // blue
$border-dark: rgba($base-color, 0.88) !default;
$alert-box-size: 600px !default;

$fa-font-path: '../../shared/fontawesome/webfonts';

$title-font: 'Assistant', sans-serif;
